<div class="section">
    <div class="info-grid">
      <div class="info-column">
        <div class="info-row">
          <span class="label">Nama</span>
          <span class="colon">:</span>
          <span class="value"><%= siswa.nama %></span>
        </div>
        <div class="info-row">
          <span class="label">Tahun Ajaran</span>
          <span class="colon">:</span>
          <span class="value"><%= tahunAjaran.tahun %></span>
        </div>
      </div>
      <div class="info-column">
        <div class="info-row">
          <span class="label">NISN</span>
          <span class="colon">:</span>
          <span class="value"><%= siswa.nisn %></span>
        </div>
        <div class="info-row">
          <span class="label">Kelas</span>
          <span class="colon">:</span>
          <span class="value"><%= siswa.kelas %></span>
        </div>
      </div>
      <div class="info-row">
        <span class="label">Semester</span>
        <span class="colon">:</span>
        <span class="value"><%= tahunAjaran.semester %></span>
      </div>
      <div class="info-row">
        <span class="label">Orang Tua</span>
        <span class="colon">:</span>
        <span class="value"><%= siswa.nama_ortu %></span>
      </div>
    </div>
  </div>